.checkedRow{
   background-color: #B0BED9 !important;
}
.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}